                                                                   {{.Name}}
-----------------------------------------------------------------------------------------------------------------------------------------------------

About: {{.About}}

Certifications: {{.Certs}}

Skills: {{.Skills}}

Education: {{.Education}}

Previous work experience: {{.Jobs}}

Phone number: {{.Phone}}  Email: {{.Email}}

Final: {{.Final}}
